@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.container{
    max-width: 100%;
    background: #FFFFFF;
    header{
        width: 100%;
        height: 80rem;
        background: #E7E8E3;
        nav{
            width: 100%;
            height: 12rem;
            position: fixed;
            background: #FFFFFF;
            z-index: 10;
            .nav-top{
                width: 100%;
                height: 4rem;
                background: #939878;
                .nav-top-item{
                    width: 130rem;
                    margin:  0 auto;
                    height: 100%;
                    text-align: center;
                    padding-top: .9rem;
                    p{
                        font-size: 1.6rem;
                        color: #FFFFFF;
                    }
                }
            }
            .nav-item{
                height: 8rem;
                width: 130rem;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #FFFFFF;
                .nav-left{
                    display: flex;
                    align-items: center;

                    p{
                        width: 3.5rem;
                        height: 3.5rem;
                        background: #CF6F49;
                        border-radius: .8rem;
                        margin-right: 1rem;
                    }
                    h1{
                        font-size: 2rem;
                    }
                }
                .nav-right{
                    width: 50%;
                    height: 100%;
                    justify-content: flex-end;
                    display: flex;
                    align-items: center;
                    ul{
                        display: flex;
                        font-size: 1.8rem;
                        gap: 2rem;
                        li{
                            a{
                                color:#222222;
                                transition: all .3s;
                                &:hover{
                                    color: #2A2C1F;
                                }
                                button{
                                    display: flex;
                                    align-items: center;
                                    gap: .5rem;
                                    color: #222222;
                                    font-size: 1.6rem;
                                    border: none;
                                    background: none;
                                    width: 7rem;
                                    cursor: pointer;
                                }
                            }
                        }
                        
                    }
                }
                .nav-center{
                    display: flex;
                    justify-content: flex-start;
                    a{
                        .cart-btn{
                            display: flex;
                            align-items: center;
                            width: 10rem;
                            height: 4.2rem;
                            border: none;
                            justify-content: center;
                            font-size: 1.8rem;
                            font-weight: 400;
                            gap: .8rem;
                            background: none;
                            transition: all .3s;
                            border-radius: 5px;
                            box-shadow: 1px 1px 5px rgb(169, 165, 165);
                            margin-right: 2rem;
                            &:hover{
                                background: #CF6F49;
                                color: #FFFFFF;
                            }
                        }
                        .find-btn{
                            display: flex;
                            align-items: center;
                            width: 16rem;
                            height: 4.2rem;
                            justify-content: center;
                            border: none;
                            background: #CF6F49;
                            transition: all .3s;
                            color: #FFFFFF;
                            border-radius: 5px;
                            box-shadow: 1px 1px 5px rgb(169, 165, 165);
                            font-size: 1.8rem;
                            &:hover{
                                background: #FFFFFF;
                                color: black;
                                border: 1px solid #65665C;
                            }
                        }
                    }
                }
            }
        }
        .header-item{
            width: 130rem;
            height:80rem;
            margin: 0 auto;
            display: flex;
            padding-top: 12rem;

            .header-left{
                height: 100%;
                width: 50%;
                border: 1px solid white;
                position: relative;
                background: rgb(247, 247, 247);
                padding-left: 9rem;
                padding-top: 16rem;
                .left-1{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .left-2{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                a{
                    color: #2A2C1F;
                    font-size: 2rem;
                    padding: .5rem 2rem;
                    background: #dddddd;
                    border-radius: 2rem;
                }
                h1{
                    margin-top: 2.5rem;
                    font-weight: 400;
                    font-size: 5.6rem;
                    line-height: 6rem;
                }
                p{
                    font-size: 2rem;
                    font-weight: 400;
                    color: #65665C;
                    padding-right: 10%;
                    line-height: 3rem;
                    margin-top: 2rem;
                }
                span{
                    display: flex;
                    margin-top: 2rem;
                    align-items: center;
                    input{
                        width: 30rem;
                        height: 4.8rem;
                        background:white;
                        border: 1px solid #E7E8E3;
                        font-size: 2rem;
                        font-weight: 400;
                        line-height: 3rem;
                        color: #65665C;
                        padding-left: 2rem;
                        margin-right: 2rem;
                    }
                    a{  
                        padding: 0;
                        .find{
                            width: 15rem;
                            border: none;
                            background: #CF6F49;
                            height: 5rem;
                            color: white;
                            font-weight: 400;
                            font-size: 2rem;
                            font-family: 'Roboto';
                            transition: all .3s;
                            border-radius: .5rem;
                            cursor: pointer;
                            &:hover{
                                background: #FFFFFF;
                                color: black;
                                border: 1px solid #65665C;
                            }
                        }
                    }
                }
            }
            .header-right{
                width: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    #logo-section{
        width: 100%;
        height:11rem;
        .logo-item{
            padding-top: 5rem;
            width: 130rem;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .logo-left{
                width: 20%;
                height: 100%;
                p{
                    font-weight: 400;
                    font-family: 'Roboto';
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #2A2C1F;
                }
            }
            .logo-right{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                img{
                    width: 12rem;
                    height: 3rem;
                }
            }
        }
    }
    #work{
        width: 100%;
        height: 50rem;
        margin-top: 8rem;
        background: #FFFFFF;
        .work-item{
            width: 130rem;
            height: 100%;
            margin:0 auto;
            h1{
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 48px;
                text-align: center;
                line-height: 5.7rem;
            }
            p{
                text-align: center;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.7rem;
                font-family: 'Roboto';
                padding-left: 20%;
                padding-right: 20%;
                margin-top: 2rem;
            }
            .work-box{
                margin-top: 8rem;
                width: 100%;
                height:29rem;
                display: flex;
                justify-content: space-between;
                .work-boxes{
                    padding-top: 5rem;
                    width: 40rem;
                    height: 100%;
                    border: 1px solid #E7E8E3;
                    text-align: center;
                    h1{
                        color: #2A2C1F;
                        font-size: 2.4rem;
                        font-weight: 700;
                        font-family: 'Roboto';
                    }
                    p{
                        color: #65665C;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        font-family: 'Roboto';
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
    #house{
        margin-top: 8rem;
        width: 100%;
        height: 75rem;
        background: #FFFFFF;
        .house-item{
            margin: 0 auto;
            width: 130rem;
            height: 100%;
            display: flex;
            .house-left{
                width: 55%;
                padding-top: 20rem;
                a{
                    font-family: 'Roboto';
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: .5rem .5rem;
                    color: #2A2C1F;
                    background:#E7E8E3;
                    border-radius: 1rem;
                }
                h1{
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 4.8rem;
                    line-height: 5.7rem;
                    color: #2A2C1F;
                    padding-right: 20%;
                    margin-top: 5rem;
                }
                p{
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #65665C;
                    padding-right: 20%;
                    margin-top: 5rem;
                    margin-bottom: 4rem;
                }
                span{
                    // padding-top: 10rem;
                    a{
                        // padding: 0;
                        background: none;
                        button{
                            background: #FFFFFF;
                            border: 1px solid #E7E8E3;
                            width: 19rem;
                            height: 5rem;
                            border-radius: 5px;
                            transition: all .3s;
                            &:hover{
                                color: white;
                                background: #CF6F49;
                            }
                        }
                    }
                    .link-con{
                        color: #2A2C1F;
                        font-weight: 400;
                        font-size: 1.6rem;
                        font-family: 'Roboto';
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
            }
            .house-right{
                width: 45%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                }
            }
        }
    }
    #house-2{
        width: 100%;
        height: 60rem;
        margin-top: 10rem;
        background: #FFFFFF;
        .house-2-item{
            width: 130rem;
            margin: 0 auto;
            height: 100%;
            display: flex;
            .house-2-left{
                width: 45%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .house-2-right{
                width: 55%;
                height: 100%;
                padding-left: 10%;
                padding-top: 5rem;
                a{
                    font-family: 'Roboto';
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: .5rem .5rem;
                    color: #2A2C1F;
                    background:#E7E8E3;
                    border-radius: 1rem;
                }
                h1{
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 4.8rem;
                    line-height: 5.7rem;
                    color: #2A2C1F;
                    margin-top: 3rem;
                }
                p{
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #65665C;
                    margin-top: 3rem;
                    margin-bottom: 4rem;
                    padding-right: 5%;
                }
                .house-span{
                    width: 100%;
                    display: flex;
                    .house_span-left{
                        width: 50%;
                        h1{
                            font-size: 2rem;
                            font-weight: 700;
                            line-height: 2.8rem;
                            font-family: 'Roboto';
                            margin-top: 2rem;
                        }
                        p{
                            color: #65665C;
                            font-family: 'Roboto';
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                    .house_span-right{
                        width: 50%;
                        h1{
                            font-size: 2rem;
                            font-weight: 700;
                            line-height: 2.8rem;
                            font-family: 'Roboto';
                            margin-top: 2rem;
                        }
                        p{
                            color: #65665C;
                            font-family: 'Roboto';
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                }
                span{
                    a{
                        background: none;
                        button{
                            background:#FFFFFF;
                            border: none;
                            border: 1px solid #E7E8E3;
                            width: 19rem;
                            height: 5rem;
                            border-radius: 5px;
                            transition: all .3s;
                            &:hover{
                                color: white;
                                background: #CF6F49;
                            }
                        }
                    }
                    .link-con{
                        color: #2A2C1F;
                        font-weight: 400;
                        font-size: 1.6rem;
                        font-family: 'Roboto';
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
            }
        }
    }
    #house-3{
        width: 100%;
        height: 160rem;
        margin-top: 5rem;
        .house-3-item{
            width: 130rem;
            height: 100%;
            margin: 0 auto;
            border: 1px solid black;
            padding-top: 15rem;
            position: relative;
            .wall{
                position: absolute;
                top: 0;
                left: 0;
            }
            .wall-2{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            h1{
                color: #2A2C1F;
                font-size: 4.8rem;
                font-weight: 700;
                font-family: 'Roboto';
                text-align: center;
                padding-bottom: 5rem;
            }
            div{
                text-align: center;
                padding-bottom: 3rem;
                a{
                    color: #2A2C1F;
                    font-size: 1.4rem;
                    font-weight: 400;
                    font-family: 'Roboto';
                    padding: .5rem 1rem;
                    background: #d1d1cf;
                    border-radius: 1rem;
                }
            }
            div{
                text-align: center;
                
                span{
                    a{
                        background: none;
                        button{
                            background:#FFFFFF;
                            border: none;
                            border: 1px solid #E7E8E3;
                            width: 19rem;
                            height: 5rem;
                            border-radius: 5px;
                            transition: all .3s;
                            &:hover{
                                color: white;
                                background: #CF6F49;
                            }
                        }
                    }
                    .link-con{
                        color: #2A2C1F;
                        font-weight: 400;
                        font-size: 1.6rem;
                        font-family: 'Roboto';
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
            }
            .house-3-box{
                width: 100%;
                height: 46rem;
                display: flex;
                justify-content: space-between;
                margin-top:2rem;
                .house-3-boxes{
                    width: 41rem;
                    height: 100%;
                    border: 1px solid #E7E8E3;
                    border-radius: 1.5rem;
                    img{
                        width: 100%;
                    }
                    h1{
                        color: #2A2C1F;
                        font-size: 2.4rem;
                        font-weight: 700;
                        text-align: left;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        padding-left: 1rem;
                    }
                    h2{
                        text-align: left;
                        color: #2A2C1F;
                        font-size: 1.8rem;
                        padding-left: 1rem;
                    }
                    p{
                        text-align: left;
                        color: #65665C;
                        font-size: 1.6rem;
                        font-weight: 400;
                        padding-top: 1.2rem;
                        padding-left: 1rem;
                    }
                    span{
                        margin-top: 1.2rem;
                        padding-left: 1rem;
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        color: #65665C;
                        font-size: 1.6rem;
                        font-weight: 400;
                        img{
                            width: 1.6rem;
                            height: 2.4rem;
                        }
                    }
                }
            }
        }
    }
    .families{
        width: 100%;
        height: 46.5rem;
        margin-top: 5rem;
        .families-item{
            width: 130rem;
            height: 100%;
            margin: 0 auto;
            background: #65665C;
            border-radius: 2rem;
            text-align: center;
            padding-top: 10rem;
            h1{
                color: #FFFFFF;
                font-size: 4.8rem;
                font-weight: 700;
                font-family: 'Roboto';
                margin-top: 3rem;
            }
            p{
                color: #E7E8E3;
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.7rem;
                padding-left: 15%;
                padding-right: 15%;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
            a{
                button{
                    background: white;
                    border: none;
                    width: 13.7rem;
                    height: 5rem;
                    border-radius: 1rem;
                    color: #222222;
                    font-size: 1.6rem;
                    font-weight: 400;
                    transition: all .3s;
                    &:hover{
                        background: #CF6F49;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    #location{
        width: 100%;
        height: 74rem;
        margin-top: 10rem;
        background: #E7E8E3;
        .location-item{
            width: 130rem;
            height: 100%;
            margin:  0 auto;
            h1{
                color: #2A2C1F;
                font-weight: 700;
                font-size: 4.8rem;
                text-align: center;
                margin-bottom: 3rem;
            }
            p{
                color: #65665C;
                font-size: 1.8rem;
                font-weight: 400;
                font-family: 'Roboto';
                line-height: 2.7rem;
                text-align: center;
                padding:0 23%;
                margin-bottom: 8rem;
            }
            .location-box{
                width: 100%;
                height: 13rem;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                .location-boxes{
                    width: 40rem;
                    height: 13rem;
                    border: 1px solid #E7E8E3;
                    padding-left: 3rem;
                    padding-top: 3rem;
                    border-radius: 1rem;
                    background: #FFFFFF;
                    h1{
                        font-weight: 700;
                        font-size: 2rem;
                        font-family: 'Roboto';
                        color: #2A2C1F;
                        text-align: left;
                    }
                    p{
                        text-align: left;
                        font-size:1.6rem;
                        font-weight: 400;
                        margin-left: 0;
                        padding-left: 0;
                    }
                }
            }
            .explore{
                text-align: center;
                padding-top: 8rem;
                span{
                    a{
                        background: none;
                        button{
                            background: #FFFFFF;
                            border: 1px solid #E7E8E3;
                            border: 1px solid #E7E8E3;
                            width: 19rem;
                            height: 5rem;
                            border-radius: 5px;
                            transition: all .3s;
                            &:hover{
                                color: white;
                                background: #CF6F49;
                            }
                        }
                    }
                    .link-con{
                        color: #2A2C1F;
                        font-weight: 400;
                        font-size: 1.6rem;
                        font-family: 'Roboto';
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
            }
        }
    }
    #customer{
        width: 100%;
        height: 83rem;
        background: #FFFFFF;
        .customer-item{
            width: 130rem;
            height: 100%;
            margin: 0 auto;
            padding-top: 20rem;
            h1{
                font-family: 'Roboto';
                font-size: 4.8rem;
                font-weight: 700;
                text-align: center;
                color: #2A2C1F;
            }
            p{
                font-family: 'Roboto';
                font-size: 1.8rem;
                text-align: center;
                color: #65665C;
                font-weight: 400;
                padding-top: 5rem;
                padding-bottom: 10rem;
            }
            .customer-box{
                width: 100%;
                height: 32.5rem;
                display: flex;
                justify-content: space-between;
                .customer-boxes{
                    height: 100%;
                    width: 40rem;
                    border: 1px solid #E7E8E3;
                    padding: 2rem;
                    p{
                        color: #2A2C1F;
                        font-family: 'Roboto';
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 2.7rem;
                        text-align: left;
                        padding: 0;
                        padding-top: 3rem;
                        padding-bottom: 3rem;
                    }
                    span{
                        display: flex;
                        img{
                            width: 4.8rem;
                            height: 4.8rem;
                        }
                        span{
                            display: block;
                            margin-left: 1rem;
                            h1{
                                color: #2A2C1F;
                                font-weight: 700;
                                font-size: 1.6rem;
                                padding: 0;
                            }
                            p{
                                padding:0;
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: #65665C;
                            }
                        }
                    }
                }
            }
        }
    }
    .post{
        width: 100%;
        height: 105rem;
        background: #E7E8E3;
        .post-item{
            width: 130rem;
            height: 100%;
            margin:0 auto;
            padding-top: 10rem;
            a{
                color: #2A2C1F;
                font-weight: 400;
                font-size: 1.4rem;
                font-family: 'Roboto';
                background: #969792;
                padding: .5rem 1rem;
                border-radius: 1rem;
            }
            h1{
                color: #2A2C1F;
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 4.8rem;
                padding-top: 5rem;
            }
            .post-p{
                display: flex;
                margin-top: 3rem;
                p{
                    color: #65665C;
                    font-size: 1.8rem;
                    font-weight: 400;
                    font-family: 'Roboto';
                    padding-right: 40%;
                    line-height: 2.7rem;
                }
                a{
                    padding: 0;
                    background: none;
                    button{
                        border: none;
                        background: #FFFFFF;
                        color: #2A2C1F;
                        width: 10rem;
                        height: 5rem;
                        border-radius: .5rem;
                        font-family: 'Roboto';
                        font-weight: 400;
                    }
                }
            }
            .post-box{
                width: 100%;
                height: 53rem;
                display: flex;
                justify-content: space-between;
                margin-top: 10rem;
                .post-boxes{
                    width: 40rem;
                    height: 100%;
                    background: #FFFFFF;
                    border-radius: 1rem;
                    img{
                        width: 100%;
                    }
                    span{
                        display: flex;
                        align-items: center;
                        padding: 0;
                        gap: 1rem;
                        margin-left: 2rem;
                        margin-top: 2rem;
                        h2{
                            color: #2A2C1F;
                            font-family: 'Roboto';
                            font-size: 1.4rem;
                            font-weight: 400;
                            background: #FAE8E1;
                            padding: 1.5rem 1rem;
                            border-radius: 40%;
                        }
                        h3{
                            color: #65665C;
                            font-family: 'Roboto';
                            font-size: 1.4rem;
                        }
                    }
                    h1{
                        color: #2A2C1F;
                        font-weight: 700;
                        font-size: 2.4rem;
                        font-family: 'Roboto';
                        padding-left: 2rem;
                        padding-top: 1rem;
                    }
                    p{
                        font-family: 'Roboto';
                        font-size: 1.6rem;
                        color: #65665C;
                        font-weight: 400;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        line-height: 2.4rem;
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                    a{
                        background: none;
                        padding: 0;
                        color: #2A2C1F;
                        font-size: 1.6rem;
                        font-weight: 400;
                        font-family: 'Roboto';
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
    #footer{
        width: 100%;
        height: 50rem;
        .footer-item{
            width: 130rem;
            margin: 0 auto;
            height:43rem;
            background: #FFFFFF;
            display: flex;
            justify-content: space-between;
            padding-left: 5rem;
            padding-right: 5rem;
            .footer-1{
                padding-top: 5rem;
                display: flex;
                text-align: center;
                p{
                    width: 3.5rem;
                    height: 3.5rem;
                    background: #CF6F49;
                    border-radius: .8rem;
                    margin-right: 1rem;
                }
                img{
                    margin-top: 1rem;
                }
            }
            .footer-2{
                display: flex;
                padding-top: 3rem;
                gap: 8rem;
                ul{
                    li{
                        padding-top: 2rem;
                        p{
                            color: #2A2C1F;
                            font-weight: 400;
                            font-size: 1.6rem;
                            padding-bottom: 1rem;
                        }
                        a{
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #2A2C1F;
                            font-family: 'Roboto';
                            
                        }
                    }
                }
            }
            .footer-3{
                padding-top: 5rem;
                h1{
                    font-size: 1.6rem;
                    font-weight: 400;
                    font-family: 'Roboto';   
                }
                p{
                    font-size: 1.6rem;
                    color: #65665C;
                    font-weight: 400;
                    font-family: 'Roboto';
                    padding-top: 2rem;
                }
                a{
                    font-size: 1.2rem;
                    font-weight: 400;
                    font-family: 'Roboto';
                    color: #65665C;
                }
                span{
                    input{
                        width: 24rem;
                        height: 4.8rem;
                        background:white;
                        border: 1px solid #E7E8E3;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 3rem;
                        color: #65665C;
                        padding-left: 2rem;
                        margin-right: 2rem;
                    }
                    a{
                        button{
                            width: 12.7rem;
                            border: none;
                            background: #CF6F49;
                            height: 5rem;
                            color: white;
                            font-weight: 400;
                            font-size: 2rem;
                            font-family: 'Roboto';
                            transition: all .3s;
                            border-radius: .5rem;
                            cursor: pointer;
                            &:hover{
                                background: #FFFFFF;
                                color: black;
                                border: 1px solid #65665C;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom{
        height: 7rem;
        width: 130rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        gap: 50rem;
        align-items: center;
        background: #E7E8E3;
        p{
            color: #65665C;
            font-weight: 400;
            font-size: 1.4rem;
            font-family: serif;
        }
        .bottom-images{
            display: flex;
            gap: 1rem;
        }
        }
    }
}