@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 100%;
  background: #FFFFFF;
}
.container header {
  width: 100%;
  height: 80rem;
  background: #E7E8E3;
}
.container header nav {
  width: 100%;
  height: 12rem;
  position: fixed;
  background: #FFFFFF;
  z-index: 10;
}
.container header nav .nav-top {
  width: 100%;
  height: 4rem;
  background: #939878;
}
.container header nav .nav-top .nav-top-item {
  width: 130rem;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  padding-top: 0.9rem;
}
.container header nav .nav-top .nav-top-item p {
  font-size: 1.6rem;
  color: #FFFFFF;
}
.container header nav .nav-item {
  height: 8rem;
  width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
}
.container header nav .nav-item .nav-left {
  display: flex;
  align-items: center;
}
.container header nav .nav-item .nav-left p {
  width: 3.5rem;
  height: 3.5rem;
  background: #CF6F49;
  border-radius: 0.8rem;
  margin-right: 1rem;
}
.container header nav .nav-item .nav-left h1 {
  font-size: 2rem;
}
.container header nav .nav-item .nav-right {
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.container header nav .nav-item .nav-right ul {
  display: flex;
  font-size: 1.8rem;
  gap: 2rem;
}
.container header nav .nav-item .nav-right ul li a {
  color: #222222;
  transition: all 0.3s;
}
.container header nav .nav-item .nav-right ul li a:hover {
  color: #2A2C1F;
}
.container header nav .nav-item .nav-right ul li a button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #222222;
  font-size: 1.6rem;
  border: none;
  background: none;
  width: 7rem;
  cursor: pointer;
}
.container header nav .nav-item .nav-center {
  display: flex;
  justify-content: flex-start;
}
.container header nav .nav-item .nav-center a .cart-btn {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 4.2rem;
  border: none;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  gap: 0.8rem;
  background: none;
  transition: all 0.3s;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(169, 165, 165);
  margin-right: 2rem;
}
.container header nav .nav-item .nav-center a .cart-btn:hover {
  background: #CF6F49;
  color: #FFFFFF;
}
.container header nav .nav-item .nav-center a .find-btn {
  display: flex;
  align-items: center;
  width: 16rem;
  height: 4.2rem;
  justify-content: center;
  border: none;
  background: #CF6F49;
  transition: all 0.3s;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(169, 165, 165);
  font-size: 1.8rem;
}
.container header nav .nav-item .nav-center a .find-btn:hover {
  background: #FFFFFF;
  color: black;
  border: 1px solid #65665C;
}
.container header .header-item {
  width: 130rem;
  height: 80rem;
  margin: 0 auto;
  display: flex;
  padding-top: 12rem;
}
.container header .header-item .header-left {
  height: 100%;
  width: 50%;
  border: 1px solid white;
  position: relative;
  background: rgb(247, 247, 247);
  padding-left: 9rem;
  padding-top: 16rem;
}
.container header .header-item .header-left .left-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.container header .header-item .header-left .left-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.container header .header-item .header-left a {
  color: #2A2C1F;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background: #dddddd;
  border-radius: 2rem;
}
.container header .header-item .header-left h1 {
  margin-top: 2.5rem;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
}
.container header .header-item .header-left p {
  font-size: 2rem;
  font-weight: 400;
  color: #65665C;
  padding-right: 10%;
  line-height: 3rem;
  margin-top: 2rem;
}
.container header .header-item .header-left span {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.container header .header-item .header-left span input {
  width: 30rem;
  height: 4.8rem;
  background: white;
  border: 1px solid #E7E8E3;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #65665C;
  padding-left: 2rem;
  margin-right: 2rem;
}
.container header .header-item .header-left span a {
  padding: 0;
}
.container header .header-item .header-left span a .find {
  width: 15rem;
  border: none;
  background: #CF6F49;
  height: 5rem;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto";
  transition: all 0.3s;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container header .header-item .header-left span a .find:hover {
  background: #FFFFFF;
  color: black;
  border: 1px solid #65665C;
}
.container header .header-item .header-right {
  width: 50%;
}
.container header .header-item .header-right img {
  width: 100%;
  height: 100%;
}
.container #logo-section {
  width: 100%;
  height: 11rem;
}
.container #logo-section .logo-item {
  padding-top: 5rem;
  width: 130rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container #logo-section .logo-item .logo-left {
  width: 20%;
  height: 100%;
}
.container #logo-section .logo-item .logo-left p {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #2A2C1F;
}
.container #logo-section .logo-item .logo-right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.container #logo-section .logo-item .logo-right img {
  width: 12rem;
  height: 3rem;
}
.container #work {
  width: 100%;
  height: 50rem;
  margin-top: 8rem;
  background: #FFFFFF;
}
.container #work .work-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
}
.container #work .work-item h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 5.7rem;
}
.container #work .work-item p {
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: "Roboto";
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 2rem;
}
.container #work .work-item .work-box {
  margin-top: 8rem;
  width: 100%;
  height: 29rem;
  display: flex;
  justify-content: space-between;
}
.container #work .work-item .work-box .work-boxes {
  padding-top: 5rem;
  width: 40rem;
  height: 100%;
  border: 1px solid #E7E8E3;
  text-align: center;
}
.container #work .work-item .work-box .work-boxes h1 {
  color: #2A2C1F;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Roboto";
}
.container #work .work-item .work-box .work-boxes p {
  color: #65665C;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Roboto";
  padding-left: 0;
  padding-right: 0;
}
.container #house {
  margin-top: 8rem;
  width: 100%;
  height: 75rem;
  background: #FFFFFF;
}
.container #house .house-item {
  margin: 0 auto;
  width: 130rem;
  height: 100%;
  display: flex;
}
.container #house .house-item .house-left {
  width: 55%;
  padding-top: 20rem;
}
.container #house .house-item .house-left a {
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  color: #2A2C1F;
  background: #E7E8E3;
  border-radius: 1rem;
}
.container #house .house-item .house-left h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.7rem;
  color: #2A2C1F;
  padding-right: 20%;
  margin-top: 5rem;
}
.container #house .house-item .house-left p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #65665C;
  padding-right: 20%;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.container #house .house-item .house-left span a {
  background: none;
}
.container #house .house-item .house-left span a button {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  width: 19rem;
  height: 5rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.container #house .house-item .house-left span a button:hover {
  color: white;
  background: #CF6F49;
}
.container #house .house-item .house-left span .link-con {
  color: #2A2C1F;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Roboto";
  padding-left: 3rem;
  padding-right: 3rem;
}
.container #house .house-item .house-right {
  width: 45%;
}
.container #house .house-item .house-right img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.container #house-2 {
  width: 100%;
  height: 60rem;
  margin-top: 10rem;
  background: #FFFFFF;
}
.container #house-2 .house-2-item {
  width: 130rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.container #house-2 .house-2-item .house-2-left {
  width: 45%;
  height: 100%;
}
.container #house-2 .house-2-item .house-2-left img {
  width: 100%;
  height: 100%;
}
.container #house-2 .house-2-item .house-2-right {
  width: 55%;
  height: 100%;
  padding-left: 10%;
  padding-top: 5rem;
}
.container #house-2 .house-2-item .house-2-right a {
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  color: #2A2C1F;
  background: #E7E8E3;
  border-radius: 1rem;
}
.container #house-2 .house-2-item .house-2-right h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.7rem;
  color: #2A2C1F;
  margin-top: 3rem;
}
.container #house-2 .house-2-item .house-2-right p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #65665C;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-right: 5%;
}
.container #house-2 .house-2-item .house-2-right .house-span {
  width: 100%;
  display: flex;
}
.container #house-2 .house-2-item .house-2-right .house-span .house_span-left {
  width: 50%;
}
.container #house-2 .house-2-item .house-2-right .house-span .house_span-left h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  font-family: "Roboto";
  margin-top: 2rem;
}
.container #house-2 .house-2-item .house-2-right .house-span .house_span-left p {
  color: #65665C;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container #house-2 .house-2-item .house-2-right .house-span .house_span-right {
  width: 50%;
}
.container #house-2 .house-2-item .house-2-right .house-span .house_span-right h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  font-family: "Roboto";
  margin-top: 2rem;
}
.container #house-2 .house-2-item .house-2-right .house-span .house_span-right p {
  color: #65665C;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container #house-2 .house-2-item .house-2-right span a {
  background: none;
}
.container #house-2 .house-2-item .house-2-right span a button {
  background: #FFFFFF;
  border: none;
  border: 1px solid #E7E8E3;
  width: 19rem;
  height: 5rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.container #house-2 .house-2-item .house-2-right span a button:hover {
  color: white;
  background: #CF6F49;
}
.container #house-2 .house-2-item .house-2-right span .link-con {
  color: #2A2C1F;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Roboto";
  padding-left: 3rem;
  padding-right: 3rem;
}
.container #house-3 {
  width: 100%;
  height: 160rem;
  margin-top: 5rem;
}
.container #house-3 .house-3-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
  border: 1px solid black;
  padding-top: 15rem;
  position: relative;
}
.container #house-3 .house-3-item .wall {
  position: absolute;
  top: 0;
  left: 0;
}
.container #house-3 .house-3-item .wall-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.container #house-3 .house-3-item h1 {
  color: #2A2C1F;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  padding-bottom: 5rem;
}
.container #house-3 .house-3-item div {
  text-align: center;
  padding-bottom: 3rem;
}
.container #house-3 .house-3-item div a {
  color: #2A2C1F;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  padding: 0.5rem 1rem;
  background: #d1d1cf;
  border-radius: 1rem;
}
.container #house-3 .house-3-item div {
  text-align: center;
}
.container #house-3 .house-3-item div span a {
  background: none;
}
.container #house-3 .house-3-item div span a button {
  background: #FFFFFF;
  border: none;
  border: 1px solid #E7E8E3;
  width: 19rem;
  height: 5rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.container #house-3 .house-3-item div span a button:hover {
  color: white;
  background: #CF6F49;
}
.container #house-3 .house-3-item div span .link-con {
  color: #2A2C1F;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Roboto";
  padding-left: 3rem;
  padding-right: 3rem;
}
.container #house-3 .house-3-item .house-3-box {
  width: 100%;
  height: 46rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes {
  width: 41rem;
  height: 100%;
  border: 1px solid #E7E8E3;
  border-radius: 1.5rem;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes img {
  width: 100%;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes h1 {
  color: #2A2C1F;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes h2 {
  text-align: left;
  color: #2A2C1F;
  font-size: 1.8rem;
  padding-left: 1rem;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes p {
  text-align: left;
  color: #65665C;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 1.2rem;
  padding-left: 1rem;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes span {
  margin-top: 1.2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #65665C;
  font-size: 1.6rem;
  font-weight: 400;
}
.container #house-3 .house-3-item .house-3-box .house-3-boxes span img {
  width: 1.6rem;
  height: 2.4rem;
}
.container .families {
  width: 100%;
  height: 46.5rem;
  margin-top: 5rem;
}
.container .families .families-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
  background: #65665C;
  border-radius: 2rem;
  text-align: center;
  padding-top: 10rem;
}
.container .families .families-item h1 {
  color: #FFFFFF;
  font-size: 4.8rem;
  font-weight: 700;
  font-family: "Roboto";
  margin-top: 3rem;
}
.container .families .families-item p {
  color: #E7E8E3;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container .families .families-item a button {
  background: white;
  border: none;
  width: 13.7rem;
  height: 5rem;
  border-radius: 1rem;
  color: #222222;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.3s;
}
.container .families .families-item a button:hover {
  background: #CF6F49;
  color: #FFFFFF;
}
.container #location {
  width: 100%;
  height: 74rem;
  margin-top: 10rem;
  background: #E7E8E3;
}
.container #location .location-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
}
.container #location .location-item h1 {
  color: #2A2C1F;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.container #location .location-item p {
  color: #65665C;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 2.7rem;
  text-align: center;
  padding: 0 23%;
  margin-bottom: 8rem;
}
.container #location .location-item .location-box {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.container #location .location-item .location-box .location-boxes {
  width: 40rem;
  height: 13rem;
  border: 1px solid #E7E8E3;
  padding-left: 3rem;
  padding-top: 3rem;
  border-radius: 1rem;
  background: #FFFFFF;
}
.container #location .location-item .location-box .location-boxes h1 {
  font-weight: 700;
  font-size: 2rem;
  font-family: "Roboto";
  color: #2A2C1F;
  text-align: left;
}
.container #location .location-item .location-box .location-boxes p {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 0;
  padding-left: 0;
}
.container #location .location-item .explore {
  text-align: center;
  padding-top: 8rem;
}
.container #location .location-item .explore span a {
  background: none;
}
.container #location .location-item .explore span a button {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  border: 1px solid #E7E8E3;
  width: 19rem;
  height: 5rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.container #location .location-item .explore span a button:hover {
  color: white;
  background: #CF6F49;
}
.container #location .location-item .explore span .link-con {
  color: #2A2C1F;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Roboto";
  padding-left: 3rem;
  padding-right: 3rem;
}
.container #customer {
  width: 100%;
  height: 83rem;
  background: #FFFFFF;
}
.container #customer .customer-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 20rem;
}
.container #customer .customer-item h1 {
  font-family: "Roboto";
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  color: #2A2C1F;
}
.container #customer .customer-item p {
  font-family: "Roboto";
  font-size: 1.8rem;
  text-align: center;
  color: #65665C;
  font-weight: 400;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.container #customer .customer-item .customer-box {
  width: 100%;
  height: 32.5rem;
  display: flex;
  justify-content: space-between;
}
.container #customer .customer-item .customer-box .customer-boxes {
  height: 100%;
  width: 40rem;
  border: 1px solid #E7E8E3;
  padding: 2rem;
}
.container #customer .customer-item .customer-box .customer-boxes p {
  color: #2A2C1F;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: left;
  padding: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container #customer .customer-item .customer-box .customer-boxes span {
  display: flex;
}
.container #customer .customer-item .customer-box .customer-boxes span img {
  width: 4.8rem;
  height: 4.8rem;
}
.container #customer .customer-item .customer-box .customer-boxes span span {
  display: block;
  margin-left: 1rem;
}
.container #customer .customer-item .customer-box .customer-boxes span span h1 {
  color: #2A2C1F;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0;
}
.container #customer .customer-item .customer-box .customer-boxes span span p {
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #65665C;
}
.container .post {
  width: 100%;
  height: 105rem;
  background: #E7E8E3;
}
.container .post .post-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 10rem;
}
.container .post .post-item a {
  color: #2A2C1F;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Roboto";
  background: #969792;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.container .post .post-item h1 {
  color: #2A2C1F;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 4.8rem;
  padding-top: 5rem;
}
.container .post .post-item .post-p {
  display: flex;
  margin-top: 3rem;
}
.container .post .post-item .post-p p {
  color: #65665C;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Roboto";
  padding-right: 40%;
  line-height: 2.7rem;
}
.container .post .post-item .post-p a {
  padding: 0;
  background: none;
}
.container .post .post-item .post-p a button {
  border: none;
  background: #FFFFFF;
  color: #2A2C1F;
  width: 10rem;
  height: 5rem;
  border-radius: 0.5rem;
  font-family: "Roboto";
  font-weight: 400;
}
.container .post .post-item .post-box {
  width: 100%;
  height: 53rem;
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}
.container .post .post-item .post-box .post-boxes {
  width: 40rem;
  height: 100%;
  background: #FFFFFF;
  border-radius: 1rem;
}
.container .post .post-item .post-box .post-boxes img {
  width: 100%;
}
.container .post .post-item .post-box .post-boxes span {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.container .post .post-item .post-box .post-boxes span h2 {
  color: #2A2C1F;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 400;
  background: #FAE8E1;
  padding: 1.5rem 1rem;
  border-radius: 40%;
}
.container .post .post-item .post-box .post-boxes span h3 {
  color: #65665C;
  font-family: "Roboto";
  font-size: 1.4rem;
}
.container .post .post-item .post-box .post-boxes h1 {
  color: #2A2C1F;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Roboto";
  padding-left: 2rem;
  padding-top: 1rem;
}
.container .post .post-item .post-box .post-boxes p {
  font-family: "Roboto";
  font-size: 1.6rem;
  color: #65665C;
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 2.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container .post .post-item .post-box .post-boxes a {
  background: none;
  padding: 0;
  color: #2A2C1F;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto";
  padding-left: 2rem;
}
.container #footer {
  width: 100%;
  height: 50rem;
}
.container #footer .footer-item {
  width: 130rem;
  margin: 0 auto;
  height: 43rem;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}
.container #footer .footer-item .footer-1 {
  padding-top: 5rem;
  display: flex;
  text-align: center;
}
.container #footer .footer-item .footer-1 p {
  width: 3.5rem;
  height: 3.5rem;
  background: #CF6F49;
  border-radius: 0.8rem;
  margin-right: 1rem;
}
.container #footer .footer-item .footer-1 img {
  margin-top: 1rem;
}
.container #footer .footer-item .footer-2 {
  display: flex;
  padding-top: 3rem;
  gap: 8rem;
}
.container #footer .footer-item .footer-2 ul li {
  padding-top: 2rem;
}
.container #footer .footer-item .footer-2 ul li p {
  color: #2A2C1F;
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
.container #footer .footer-item .footer-2 ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #2A2C1F;
  font-family: "Roboto";
}
.container #footer .footer-item .footer-3 {
  padding-top: 5rem;
}
.container #footer .footer-item .footer-3 h1 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto";
}
.container #footer .footer-item .footer-3 p {
  font-size: 1.6rem;
  color: #65665C;
  font-weight: 400;
  font-family: "Roboto";
  padding-top: 2rem;
}
.container #footer .footer-item .footer-3 a {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto";
  color: #65665C;
}
.container #footer .footer-item .footer-3 span input {
  width: 24rem;
  height: 4.8rem;
  background: white;
  border: 1px solid #E7E8E3;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  color: #65665C;
  padding-left: 2rem;
  margin-right: 2rem;
}
.container #footer .footer-item .footer-3 span a button {
  width: 12.7rem;
  border: none;
  background: #CF6F49;
  height: 5rem;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto";
  transition: all 0.3s;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container #footer .footer-item .footer-3 span a button:hover {
  background: #FFFFFF;
  color: black;
  border: 1px solid #65665C;
}
.container #footer .footer-bottom {
  height: 7rem;
  width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 50rem;
  align-items: center;
  background: #E7E8E3;
}
.container #footer .footer-bottom p {
  color: #65665C;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: serif;
}
.container #footer .footer-bottom .bottom-images {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */